{% extends 'log.html' %}
<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <title>SignUp and Login</title>
        <link rel="stylesheet" type="text/css" href="signLogStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
  <!-- {% include 'navbar.html' %} -->

    <div class="container" id="container">
    <div class="form-container sign-up-container">
    <form action="{{ url_for('views.signuplogin') }}" method="post">
        <h1>Create Account</h1>
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
	      <button>Sign Up</button>
    </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="{{ url_for('views.login') }}" method="post">
            <h1>Login</h1>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <a href="#">Forgot Your Password</a>
            <button>Login</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To Keep Connected with Us Please Login with Your Personal Info</p>
                <button class="ghost" id="signIn">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your Details and Start Your Journey with Us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

    </script>

</body>
</html>
{% endblock %}
