<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="baseStyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body>
  {% include 'navbar.html' %}

  <!-- <div class="topnav">
    <a class="active" href="base.html">Home</a>
    <a href="events.html">Events</a>
    <a href="review.html">Write a Review</a>
    <div class="topnav-right">
      <a href="signuplogin.html">Sign Up/Login</a>
    </div>
  </div> -->

  <img alt=" " class="resize-image" src="{{ url_for('static', filename='images/Finddit.gif')}}">

  <div class="wrapper">
    <form action="{{ url_for('api.do_search') }}" method="post">
      <input type="text" class="input" id="query" name="query" placeholder="What are you looking for?">
      <button class="searchbtn" type="submit"> search </button>
    </form>
  </div>

  <div class="grid-container">
    <div class="grid-item"> <button onclick="searchForType('cafe')" id="apart" type="button">Cafe</button></div>
    <div class="grid-item"> <button onclick="searchForType('shopping_mall')" id="apart" type="button">Shopping</button></div>
    <div class="grid-item"> <button onclick="searchForType('park')" id="apart" type="button">Park</button></div>
    <div class="grid-item"> <button onclick="searchForType('bar')" id="apart" type="button">Bar</button></div>
    <div class="grid-item"> <button onclick="searchForType('library')" id="apart" type="button">Library</button></div>
    <div class="grid-item"> <button onclick="searchForType('apartment')" id="apart" type="button">Apartment</button></div>
  </div>

  <script>
    function searchForType(type){
      window.location.href="{{ url_for('api.do_nearby_search', place_type = 'PLACE_TYPE')}}".replace('PLACE_TYPE', type)
    }
  </script>

</body>
