{% extends 'log.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='eventStyle.css')}}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <title>Finddit</title>
</head>

<body>
  {% include 'navbar.html' %}

  <button href="create.html" class="button" id="joinBtn" type="submit"
  onclick ="window.location.href='../create.html';">Create an Event</button>

  {% for post in posts %}
    <article class="post">
        <div class="event-container">
          <h3 for="event_name">Event</h3>
          <p> {{ post['event_name'] }} </p>

          <h3 for="Time">Time</h3>
          <p> {{ post['event_date'] }} on {{ post['event_time']}} </p>

          <h3 for="description">Description</h3>
          <p> {{ post['event_desc'] }} </p>

          <!-- <button href="create.html" class="button" id="joinBtn" type="submit"
          onclick ="window.location.href='../create.html';">Create</button> -->
<!--
          <button id="joinBtn" type="button">Join</button>
          <button id="leaveBtn" type="button">Leave</button> -->
          <!-- <button href="create.html" class="button" id="joinBtn" type="submit"
           onclick ="window.location.href='../create.html';">Create</button> -->

        </div>
      <!-- <p class="body">{{ post['body'] }}</p> -->

    </article>
    {% if not loop.last %}

    {% endif %}
  {% endfor %}

</body>

</html>
{% endblock %}
