{% extends 'log.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="eventStyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <title>Finddit</title>
</head>

<body>`
  <div class="topnav">
    <link rel="stylesheet" type="text/css" href="baseStyle.css">
    <a class="active" href="base.html">Home</a>
    <a href="events.html">Events</a>
    <a href="review.html">Write a Review</a>
    <div class="topnav-right">
      <a href="signuplogin.html">Sign Up/Login</a>
    </div>
  </div>

  <h2>Events</h2>
  <div class="event-container">
    <link rel="stylesheet" href="eventStyle.css">

    <h3 for="description">Description</h3>
    <p> {{ description }} </p>

    <h3 for="Location">Location</h3>
    <p> {{ location }} </p>

    <h3 for="Time">Time</h3>
    <p> {{ time }} </p>

    <h3 for="attendees">Attendees</h3>
    <p> {{ attendees }} </p>

    <button id="joinBtn" type="button">Join</button>
    <button id="leaveBtn" type="button">Leave</button>
    <a href="create.html" class="button" id="joinBtn" type="submit">Create</a>
  </div>

  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['event_name'] }}</h1>
          <div class="about">by {{ post['event_date'] }} on {{ post['event_time']}}</div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

</body>

</html>
{% endblock %}