<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="eventStyle.css">
  <title>Finddit</title>
</head>
<h1>Need to add banner here</h1>

<body>`

  <div class="event-container">
    <h2>Event</h2>

    <h3 for="description">Description</h3>
    <p> "add description here/ need to add a variable for python and store on database"</p>

    <h3 for="Location">Location</h3>
    <p> "add Location here/ need to add a variable for python and store on database"</p>

    <h3 for="Time">Time</h3>
    <p> "add Time here/ need to add a variable for python and store on database"</p>

    <h3 for="attendees">Attendees</h3>
    <p> "add attendees here/ need to add a variable for python and store on database"</p>

    <button id="joinBtn" type="button">Join</button>
    <button id="leaveBtn" type="button">Leave</button>


  </div>


</body>

</html>