<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='detailsStyle.css')}}">

  <title>Finddit</title>
</head>

<h2>{{location.name}}</h2>

<p><em>{{location.address}}</em></p>
<p><em>{{location.phone}}</em></p>

{% if location.opening_hours is not none %}
<ul>
  {% for period in location.opening_hours %}
      <li>{{period}}</li>
  {% endfor %}
</ul>
{% endif %}

{% if location.photo is not none %}
<img src="{{url_for('api.get_photo', reference = location.photo)}}"></img>
{% endif %}

<h3 for="description">Description</h3>
<p> "add Description here/ need to add a variable for python and store on database"</p>

<h3 for="description">Reviews</h3>
<p> "add Reviews here/ need to add a variable for python and store on database"</p>

<button id="createEventBTN" type="button">Create Event</button>
<button id="reviewBTN" type="button" onclick ="window.location.href='reviewResult.html';">Add Review</button>
