<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Finddit</title>
	<link href="{{url_for('api.get_photo', reference = location.photo)}}" rel="stylesheet">
</head>
<body>
	{% include 'navbar.html' %}
		<div class="banner-area">
			<h2>{{location.name}}</h2>
		</div>
		<div class="content-area">
			<div class="wrapper">

				<p><head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='detailsStyle.css')}}">

          <title>Finddit</title>
        </head>

        <h3 for="address">Address</h3>
        <p><em>{{location.address}}</em></p>
        <h3 for="Contact">Contact</h3>
        <p><em>{{location.phone}}</em></p>
        <h3 for="Operation">Hours of Operation</h3>

        {% if location.opening_hours is not none %}
        <ul>
          {% for period in location.opening_hours %}
              <li>{{period}}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <h3 for="description">Reviews</h3>
        <link rel="stylesheet" href="{{ url_for('static', filename='resultsStyle.css')}}">
				{% for review in reviews %}
				<link rel="stylesheet" href="{{ url_for('static', filename='reviewSectionStyle.css')}}">
				<body>
				    <section id="testimonials">
				        <div class="testimonial-heading">
				        </div>
				        <div class="testimonial-box-container">
				            <div class="testimonial-box">
				                <div class="box-top">
				                    <div class="profile">
				                        <div class="profile-img">
				                            <img src="{{url_for('static', filename='images/icon.jpeg')}}" />
				                        </div>
				                        <div class="name-email">
				                            <strong>{{review.name}}</strong>
				                            <span>{{review.email}}</span>
				                        </div>
				                    </div>
				                    <div class="ratings">
				                        <i class="fas fa-star"></i>
				                        <i class="fas fa-star"></i>
				                        <i class="fas fa-star"></i>
				                        <i class="fas fa-star"></i>
				                        <i class="far fa-star"></i><!--Empty star-->
																{{review.rating}} /5 Stars
				                    </div>
				                </div>
				                <div class="student-reviews">
				                    <p>{{review.content}}</p>
				                </div>
				            </div>
				            </div>
				        </section>
				</body>

				<!-- {{review.name}} {{review.email}} {{review.rating}} {{review.content}} -->
				{% endfor %}
				<button id="createEventBTN" type="button" onclick ="window.location.href='../create.html';">Create Event</button>
				<button id="reviewBTN" type="button" onclick ="window.location.href='/location/{{location.id}}/reviewResult.html';">Add Review</button>
			</div>
		</div>
	</div>
</body>
</html>
