<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fixed Header with html and css | Collapsing Header</title>
	<link href="{{url_for('api.get_photo', reference = location.photo)}}" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	{% include 'navbar.html' %}

	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a class="active" href="../base.html">Home</a>
				</div>
				<nav>
					<a href="../events.html">Events</a>
           <a href="../review.html">Review</a>
           <a href="../signuplogin.html">Sign up/Login</a>
				</nav>
			</div>
		</header>


		<div class="banner-area">
			<h2>{{location.name}}</h2>
		</div>
		<div class="content-area">
			<div class="wrapper">

				<p><head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="{{ url_for('static', filename='detailsStyle.css')}}">

          <title>Finddit</title>
        </head>

        <h3 for="address">Address</h3>
        <p><em>{{location.address}}</em></p>
        <h3 for="Contact">Contact</h3>
        <p><em>{{location.phone}}</em></p>
        <h3 for="Operation">Hours of Operation</h3>

        {% if location.opening_hours is not none %}
        <ul>
          {% for period in location.opening_hours %}
              <li>{{period}}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <h3 for="description">Reviews</h3>
        <p> "add Reviews here/ need to add a variable for python and store on database"</p></p>
        <link rel="stylesheet" href="{{ url_for('static', filename='resultsStyle.css')}}">
          <button id="createEventBTN" type="button" onclick ="window.location.href='../create.html';">Create Event</button>
          <button id="reviewBTN" type="button" onclick ="window.location.href='../reviewResult.html';">Add Review</button>

			</div>
		</div>
	</div>
</body>
</html>
