<!DOCTYPE html>
<head>
<title>Finddit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='reviewStyle.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
  <!-- <div class="topnav">
    <a class="active" href="base.html">Home</a>
    <a href="events.html">Events</a>
    <a href="review.html">Write a Review</a>
    <div class="topnav-right">
      <a href="signuplogin.html">Sign Up Login</a>
    </div> -->
    <!-- </div> -->
    {% include 'navbar.html' %}
    <!--  idk if i messed this up or not. if so delete line 16 and uncomment the rest -->
  <div class="wrapper">
    <input type="text" class="input" placeholder="Search for the Place to Review!">
    <div class="searchbtn"><i class="fas fa-search"></i></div>
  </div>
</body>
</html>
