<link rel="stylesheet" href="{{ url_for('static', filename='reviewSectionStyle.css')}}">
<body>
    <section id="testimonials">
        <div class="testimonial-heading">
            <span>Reviews!</span>
            <h4>Student Says</h4>
        </div>
        <div class="testimonial-box-container">
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{{url_for('static', filename='images/icon.jpeg')}}" />
                        </div>
                        <div class="name-email">
                            <strong>Glenda Ray</strong>
                            <span>kjlj@ecu.edu</span>
                        </div>
                    </div>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i><!--Empty star-->
                    </div>
                </div>
                <div class="student-reviews">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{{url_for('static', filename='images/icon.jpeg')}}" />
                        </div>
                        <div class="name-email">
                            <strong>Noah Wood</strong>
                            <span>lkjlj@ecu.edu</span>
                        </div>
                    </div>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="student-reviews">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
            </div>
        </section>
</body>
