<!DOCTYPE html>
<head>
    <title>Finddit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='revResultStyle.css')}}">

</head>
<body>
  <div class="topnav">
    <a class="active" href="base.html">Home</a>
    <a href="events.html">Events</a>
    <a href="review.html">Write a Review</a>
    <div class="topnav-right">
      <a href="signuplogin.html">Sign Up Login</a>
    </div>
  </div>
    <h1>Name of Place</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
</body>
<section id="app">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="comment">
          <p v-for="items in item" v-text="items"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <textarea type="text" class="input" placeholder="Give us your Opinion on the Place!" v-model="newItem" @keyup.enter="addItem()"></textarea>
        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Post Review</button>
      </div>
    </div>
  </div>
</section>
</html>