@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


body {
  display: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  text-align: center;
  padding: 0;
}

button {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #330346;
  background-color: #330346;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 15px;;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  color: white;
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

h1 {
  color: rgb(255, 255, 255);
  background-color: #330346;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 35px;
  text-align: center;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.create {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 70%;
	min-height: 480px;
	top: 10px;
	height: 100%;
  padding: 30px;
  margin: auto;
  margin-top: 60px;
}
