@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background: #ffffff;
	display: fit-content;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  text-align: center;
  padding: 0;
}

button {
	border-radius: 20px;
	border: 1px solid #330346;
	background-color: #330346;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
  margin-top: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
  color: white;
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 2, 80);
  padding: 15px;
  height: 40px;
  margin: 0 auto;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  padding-top: 25px;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3{
  text-align: center;
  font-size: 20px;
}

p{
  font-size: 14px;
	font-weight: 100;
}

.event-container {
  /* background-color: rgb(255, 255, 255); */
  color: black;
  position: relative;
  font-size: 25px;
  margin-top: 15px;
  padding: 10px;
  height: fit-content;
  width: 40rem;
  border-style: solid;
  margin: auto;
  margin-top: 20px;


  --borderWidth: 3px;
  border-radius: var(--borderWidth);
}


.event-container:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


