@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background: #ffffff;
	display: fit-content;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  text-align: center;
  padding: 0;
}

button {
  display: inline-block;
	border-radius: 20px;
	border: 1px solid #330346;
	background-color: #330346;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
  color: white;
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 2, 80);
  padding: 15px;
  padding-top: 15px;
  height: 40px;
  margin: 0 auto;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3{
  text-align: center;
  font-size: 25px;
}

h4{
  text-align: center;
  color: rgb(68, 2, 80);
  font-size: 35px;
  text-decoration: none;
}

p{
  font-size: 19px;
	font-weight: 100;
}

.photo{
  position: relative;
  height: 310px;
  width: 340px;
  align-items: center;
  justify-content: center; 
  padding: 10px 10px; 
  margin: auto;
}

.card {
  /* background-color: #ffec00; */
  color: black;
  position: relative;
  font-size: 25px;
  margin-top: 15px;
  padding: 10px;
  height: fit-content;
  width: 60rem;
  /* width: 80%; */
  border-style: solid;
  margin: auto; 
  margin-top: 20px; 
  align-items: center;
  justify-content: center; 
  display: flex;
  overflow: hidden; 
}

.img-card {
  /* background-color: #b1b0a5; */
  padding-left: 10px; 
  float: left;
  justify-content: space-between;
  margin-right: 40px;
}


.card-body{
  /* background-color: #593a9c; */
  padding-right: 10px; 
  float: right;
  margin-left: 50px;
  position:relative ;
}

/* .card-body:empty + img-card{
  background-color: darkslateblue;
} */

.img-card:empty + card-card{
  background-color: darkslateblue;
}
.card-body button {
  margin-top: 15px;
}