body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  background-color: #330346;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ddbe0d;
  color: white;
}
.topnav-right{
  float: right;
}
.container {
max-width: 640px;
margin: 30px auto;
background: #fff;
border-radius: 8px;
padding: 20px;
}
.comment {
display: block;
transition: all 1s;
}
.commentClicked {
min-height: 0px;
border: 1px solid #eee;
border-radius: 5px;
padding: 5px 10px
}
.checked {
  color: orange;
}